Language: Cpp
Standard: Cpp11
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 100
PointerAlignment: Middle
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false
AlignTrailingComments: true
AlignEscapedNewlinesLeft: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterReturnType: AllDefinitions
